* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
  --text-primary-blue: hsl(238, 29%, 16%);
  --text-primary-red: hsl(14, 88%, 65%);
  --text-grayish-2: hsl(237, 12%, 33%);
  --text-grayish-1: hsl(240, 6%, 50%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider: hsl(240, 5%, 91%);
}

body {
  min-height: 100vh;
  background: linear-gradient(var(--gradient-violet), var(--gradient-blue));
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion {
  max-width: 920px;
  background: #fff;
  border-radius: 25px;
  display: flex;
  margin: 0 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.accordion__img,
.accordion__body {
  flex: 1 1 100%;
}

.accordion__img {
  display: flex;
  align-items: center;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom 34% left 117%;
  position: relative;
  overflow: hidden;
}
.accordion__img img {
  transform: translateX(-5rem);
}

.box {
  position: absolute;
  display: block;
  z-index: 1;
  top: 41%;
  left: -12px;
}
.box img {
  position: fixed;
}

.accordion__body {
  padding: 4.5rem 4.5rem 4.5rem 0;
}

.accordion__heading {
  color: var(--text-primary-blue);
}

.accordion__question-list {
  list-style: none;
  margin-top: 1.5rem;
  font-size: 12px;
}

.accordion__question {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--divider);
}

.accordion__question-toggler {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  text-align: start;
  display: flex;
  justify-content: space-between;
  color: var(--text-grayish-2);
  padding: 1rem 0;
  transition: padding 0.4s;
}
.accordion__question-toggler:hover {
  color: var(--text-primary-red);
}
.accordion__question-toggler::after {
  content: url(images/icon-arrow-down.svg);
  transition: transform 0.4s;
}

.accordion__question-answer {
  max-height: 0;
  overflow: hidden;
  color: var(--text-grayish-1);
  line-height: 1.6em;
  opacity: 0;
  transition-property: max-height, padding, opacity;
  transition-duration: 0.4s;
}

.accordion__question.active .accordion__question-toggler {
  font-weight: 700;
  padding-bottom: 0;
}
.accordion__question.active .accordion__question-toggler::after {
  transform: rotate(180deg);
}

.accordion__question.active .accordion__question-answer {
  max-height: 4rem;
  padding: 1rem 0;
  opacity: 1;
}

/* mobile breakpoints */
@media (max-width: 1000px) {
  .accordion {
    flex-direction: column;
    margin: 150px 20px 20px;
  }

  .accordion__img {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: top center;
    justify-content: center;
    overflow: visible;
  }
  .accordion__img img {
    transform: translate(-1rem, -7rem);
  }

  .box {
    display: none;
  }
}
